@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*comando para comentario en css*/

h1 {
    color: red;
}

section {
    color: darkred;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

/* PADRE - HIJOS */
section p{
    color: darkred;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

a{ 
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/*HERENCIA*/
footer {
    color: blue !important; /*hace que no se pise con el codigo siguiente*/ /*el important se usa en casos puntuales (para salvarnos)*/
}

/*CASCADA*/
/*tapa el codigo anterior*/
footer {
    color: brown;
}

div {
    color: brown;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

body {
    background-image: url('../img/fondo.webp')
}

/*BOX MODELING*/

.contenedor {
    background-color: bisque;
    border: 2px black solid;
    padding: 25px;
    margin: 10px;

}

.contenedorNav {
    background-color:darkcyan;
    border: 2px black solid;
    padding: 25px;
    margin: 10px;
}

/*aplicamos estilo*/
.item {
    background-color: brown;
    border: 1px black solid; 
}

.item {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.GridPadre {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}

.GridPadre{
    list-style-type: none;
}


/*.todasImagenes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    "header header header"
    "titulo titulo titulo"
    "imagen1 imagen2 imagen3"
    "footer footer footer"
}*/

.imagen1{
    grid-area: imagen1;
    transition: all 1s;
}
.imagen1:hover{
    transform: scale(1.1);
}

.imagen2{
    grid-area: imagen2;
    transition: all 1s;
}
.imagen2:hover{
    transform: scale(1.1);
}

.imagen3{
    grid-area: imagen3;
    transition: all 1s;
}
.imagen3:hover{
    transform: scale(1.1);
}

img{
    height: 300px;
    width: 400px;
}

/*@media screen and (max-width: 768px) {
    .todasImagenes{
        display: grid;
        grid-template-columns: repeat(3,1fr)
        grid-template-areas:
        "header"
        "titulo"
        "imagen1" 
        "imagen2" 
        "imagen3"
        "footer"
    }
    
}*/

.item{
    transition: all 1s;
}
.item:hover{
    background-color: black;
    color: white;
}
a{
    transition: all 1s;
}
a:hover{
    
    color: white;
}









