.imagen1 {
    grid-area: imagen1;
    transition: all 1s;
    
    &:hover {
      transform: scale(1.1);
    }
  }
.tamLogo {
  width: 100px;
}
  
.colorFondo {
  background-color: burlywood;
}
  
.ancla {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
  
.parrafoConHover {
  &:hover {
    color: blue;
    transform: scale(1.1);
  }
  
  grid-area: parrafoConHover;
  transition: all 1s;
}
  